.item_all_product{
  margin-right: 100px;
  width: 1220px;
  margin: auto;
    
  &__get{
   font-size: 22px;
   margin: 24px 0 8px;
   width: 1020px;

  }
  &__info{
    display: flex;
    flex-wrap: wrap; 
    padding-left: 50px;  
    
    &__box{
      margin-left: 0em;
      margin: 5px 30px 20px 0;

      &__sold{
        transform: rotate(-45deg);
        font-size: 28px;
        margin:-48px 0px 0px -55px;
        color:black;
        letter-spacing: 2px;
        font-weight: 600;
      }
      
      &__soldout{
        transform: rotate(-45deg);
        font-size: 20px;
        margin:-35px 0px 0px -55px;
        color:black;
        letter-spacing: 2px;
        font-weight: 600;
      }
      
      &__image{
        .image_user{
          width: 188px;
          height: 188px;         
        }        
      }
      &__textbox{
        position: relative;
        height: 58px;
        padding: 8px 12px;
        width: 188px;
        background-color: #ffffff;
      
        .textbox_sentence{ 
          font-size: 14px;
          color: black;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          height: 3em;
          line-height: 1.5;

        }
        .textbox_num{
          &__price{
            z-index: 2;
            position: absolute;
            top: -30px;
            left: 0;
            padding: 4px 12px 4px 8px;
            border-radius: 0 16px 16px 0;
            font-weight: 600px;
            color: #ffffff;
            background-color: rgba($color: #000000, $alpha: 1.0);
          }
        }
      }
    }
  }
}