@mixin default_item_margin() {
  margin-top:32px;
}
@mixin align_item_center() {
  display:flex;
  align-items:center;
}
@mixin space_between(){
  display:flex;
  justify-content:space-between;
}

.new-items,.edit-items{
  margin-bottom:50px;
  .input-form{
    max-width:700px;
    width:100%;
    background-color:white;
    margin:0 auto;
    padding:30px 0;
    hr{
      width: 100%;
      border:solid 1px #efefef;
      margin:0;
    }
    .item-images{
      padding:40px;

      &__field{
        display:flex;
        flex-wrap:wrap;
        width:100%;
        &__previews--first,&__previews--second{
          display:flex;
          flex-wrap:wrap;
          .preview{
            margin:0;
            img{
              width:100%;
            }
          }
        }
        &__input{
          label{
            display:none;
          }
          label:last-of-type{
            display:inline;
          }

          margin:0;
          input[type="file"]{
            display:none;
          }
          .file-area{
            height:148px;
            background-color:#eee;
            cursor: pointer;
            line-height: 100%;
            @include align_item_center();
            text-align:center;
            &__message{
              width:100%;
              margin:0 auto;
              font-size:12px;
            }
          }
        }
        .images-count--1{
          width:20%;
        }
        .images-count--2{
          width:40%;
        }
        .images-count--3{
          width:60%;
        }
        .images-count--4{
          width:80%;
        }
        .field-width--0{
          width:100%;
        }
        .field-width--1{
          width:80%;
        }
        .field-width--2{
          width:60%;
        }
        .field-width--3{
          width:40%;
        }
        .field-width--4{
          width:20%;
        }
        .preview-width--1{
          width:100%;
        }
        .preview-width--2{
          width:50%;
        }
        .preview-width--3{
          width:33%;
        }
        .preview-width--4{
          width:25%;
        }
        .preview-width--0{
          width:20%;
        }
      }
    }
    .item-info{
      padding:40px;
      &__item-explanation{
        @include default_item_margin();
      }
    }
    .item-details{
      padding:40px;
      &__item-category{
        #category2{
          margin-top:16px;
        }
        #category3{
          margin-top:16px;
        }
      }
      &__item-brand{
        @include default_item_margin();
      }
      &__item-size{
        @include default_item_margin();
      }
      &__item-status{
        @include default_item_margin();
      }
    }
    .delivery-info{
      padding:40px;
      &__prefecture{
        @include default_item_margin();
      }
      &__delivery_time{
        @include default_item_margin();
      }
    }
    .item-price{
      padding:40px;
      &__price{
        @include space_between();

        .label{
          margin:0;
          @include align_item_center();
        }
        .input{
          @include align_item_center();
          input{
            margin-left:5px;
          }
        }
      }
    }
    .item-fee{
      padding:0 40px;
      @include space_between();
    }
    .item-profit{
      padding:0 40px;
      @include space_between();
    }
    .actions{
      padding-top:40px;
      text-align:center;
      width: 360px;
      margin: 0 auto 32px;
      &__submit-button{
        width:100%;
        background-color: #3CCACE;;
        color: #fff;
        font-size: 17px;
        font-weight:bold;
        min-height: 48px;
        padding: 0 24px;
        border-radius: 4px;
      }
      .back{
        display:inline-block;
        text-decoration:none;
        @include default_item_margin();
      }
    }
    .note{
      font-size:12px;
      padding:36px;
    }
  }
}
